@model AddCalcEnergyPoint

@{
    ViewData["Title"] = "Добавить точку измерения электроэнергии";
}

<h2>Добавить точку измерения электроэнергии</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="AddPoint" method="post">
            <label>Наименование</label>
            <input type="text" name="Name" maxlength="255" />
            <br />

            <label>Дочерняя организация</label>
            <select name="ChildOrganizationId">
                @if (Model.ChildOrganizations != null)
                {
                    foreach (var item in Model.ChildOrganizations)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
                </select>
            <br />

            <label>Счётчик электрической энергии</label>
            <select name="EnergyMeterId">
                @if (Model.ElectricEnergyMeters != null)
                {
                    foreach (var item in Model.ElectricEnergyMeters)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
            <br />

            <label>Трансформатор тока</label>
            <select name="CurTransId">
                @if (Model.CurTransformators != null)
                {
                    foreach (var item in Model.CurTransformators)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
            <br />

            <label>Трансформатор напряжения</label>
            <select name="VoltTransId">
                @if (Model.VoltTransformators != null)
                {
                    foreach (var item in Model.VoltTransformators)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                }
            </select>
            <br />

            <button type="submit" value="Добавить" />
        </form>
    </div>
</div>

